/* Pantalla Principal 
position: relative;
width: 1280px;
height: 832px;*/

@font-face {
    font-family: "harryP";
    src: url('../fonts/HARRYP__.TTF');
}

/*body {
    background-image: url(../images/pergamino.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;


}

h3 {
    font-family: 'Viaoda Libre', cursive;
    position: absolute;
    width: 100%;
    height: 268px;
    left: 388px;
    top: -76px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4B2E20;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'harryP', sans-serif;
    position: absolute;
    width: 604px;
    height: 172px;
    left: 452px;
    top: 4px;
    font-style: normal;
    max-width: 80%;
    font-size: 6vw;
    line-height: 128px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#castle {
    position: relative;
    width: 100%;
    height: 693px;
    left: 520px;
    top: 110px;
}

aside {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: absolute;
    top: 140px;

}


a {
    font-family: 'harryP', sans-serif;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color: #C29D70;
    width: 280px;
    height: 60px;
    background: #4B2E20;
    border: 3px solid #E3A900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 50px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

}

a:hover {
    background-color: black;
}

#pageName {
    position: absolute;
    width: 817.72px;
    height: 300px;
    left: 227px;
    top: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

}

#textcharacters {
    position: absolute;
    width: 607px;
    height: 174px;
    font-family: 'harryP', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    transform: translate(-30%, -10%);

}

#parchmentletters {
    position: absolute;
    display: flex;
    align-items: center;

}

#background2 {
    background-image: url(../images/pergamino.jpg);
    position: relative;
    width: 1280px;
    height: 832px;
}

input[type=search] {
    box-sizing: border-box;
    position: absolute;
    width: 334px;
    height: 67.71px;
    background: rgba(75, 46, 32, 0.71);
    border: 3px solid #E3A900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    top: 350px;
}
*/
body{
    background-image: url(../images/pergamino.jpg);
}

.tittle-container{
    text-align: center; /* alinear solo para texto */
    color: #4B2E20;

}

.tittle-container h1{
    font-family: 'harryP', sans-serif ;
    font-size: 160px;
    margin-top: 0;
    color: black;
}

.tittle-container h3{
    font-family: 'Viaoda Libre', cursive ;
    font-size: 100px;
    margin-bottom: 0;
    color: #4B2E20;
}

.menu{
    font-family: 'harryP', sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a{
    font-size: 35px;
    text-align: center;
    color: #C29D70;
    background: #4B2E20;
    border: 3px solid #E3A900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 50px;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    width: 60vw;
    font-size:100px;
}

.castle{
    display: none;
}


@media screen and (min-width: 1200px){
    .container{
        display: flex;
    }
    .tittle-container{
        order: 2;
        align-content: center;
    }
    .menu{
        order: 1;
        margin-top: 150px;
    }
    .castle{
        display: block;
        position: absolute;
       right: 0;
       bottom: 0;
    }
    .menu a{
        width: 30vw;
        font-size: 40px;
    }
    .tittle-container h1{
        font-size: 100px;
    }
    .tittle-container h3{
        font-size: 60px;
    }
    
  }

